*{
  padding:0;
  margin:0;
}
body{
  background-color:#eee;
  border-color:#999;
}
.team-name{
  width:200px;
  height:120px;
  padding-top:20px;
  padding-left:20px;
  background-color:white;
  float:left;
  text-indent:15em;
}
.team-logo{
  width:80px;
  height:80px;
  padding-top:40px;
  padding-left:40px;
  
}
